.root {
    -fx-background-color: #acabab;
}

.button {
    -fx-border-color: #5a095a;
    -fx-background-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
}

.button:hover {
    -fx-border-width: 3px;
    -fx-border-radius: 50px;

    /*-fx-effect: dropshadow(three-pass-box, #858080, 20, 0.2, 0, 0);*/
}

.hbox {
    -fx-background-color: #7e7171;
}

